header {
  height: 15%;
  width: 100%;
  color: white;
  background-color: #5ba4d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.timer {
  margin: 0 10%;
}

.counter {
  margin: 0 10%;
}
