.square {
  border: 1px solid #5ba4d7;
  float: left;
  aspect-ratio: 1/1;
  animation: fadeOut .3s linear forwards;
}

.off {
  background-color: #fff;
  animation: fadeOut .3s;
}

@keyframes fadeOut{
  0%{
  }
  100%{
    background-color: #fff;
  }
}

.on {
  background-color: #f8d71c;
  animation: fadeIn .3s;
}

@keyframes fadeIn{
  0%{
  }
  100%{
    background-color: #f8d71c;
  }
}

.square:hover {
  background-color: #c0d5e8;
}