body {
  overflow: hidden;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.square {
  background: #fff;
  border: 1px solid #5ba4d7;
  float: left;
  font-size: xxx-large;
  font-weight: bold;
  line-height: 34px;
  height: auto;
  aspect-ratio: 1/1;
  padding: 0;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.square.on {
  background: #f8d71c;
}

.square:hover {
  background-color: #c0d5e8;
}

.square.winning {
  background-color: yellow;
}

.board {
  aspect-ratio: 1 / 1;
  border-collapse: collapse;
}

.board-row {
  display: flex;
  height: calc(100% / 5);
}

header {
  height: 10%;
  color: white;
  background-color: #5ba4d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
}

.game {
  display: block;
  width: 100vw;
  height: 100vh;
}

.game-board {
  aspect-ratio: 1/1;
  padding: 10% 15%;
}