body {
  overflow: hidden;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.square {
  background-color: #fff;
  border: 1px solid #5ba4d7;
  float: left;
  aspect-ratio: 1/1;
  animation: fadeOut .3s linear forwards;
}

.off {
  background-color: #fff;
  animation: fadeOut .3s linear forwards;
}

@keyframes fadeOut{
  0%{
  }
  100%{
    background-color: #fff;
  }
}

.on {
  background-color: #f8d71c;
  animation: fadeIn .3s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.square:hover {
  background-color: #c0d5e8;
}

.board {
  aspect-ratio: 1 / 1;
  width: 30%;
  border-collapse: collapse;
}

header {
  height: 10%;
  width: 100%;
  color: white;
  background-color: #5ba4d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.timer {
  margin: 0 10%;
  user-select: none;
}

.counter {
  margin: 0 10%;
  user-select: none;
}

.game-board {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game {
  display: block;
  width: 100vw;
  height: 100vh;
}

.stopwatch {
  width: 20%;
  height: 10%
}

.stopwatch button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 5%;
  color: white;
  background-color: #5ba4d7;
  border: none;
  font-size: x-large;
}

.stopwatch button:hover {
  background-color: #3d95d4;
}

.stopwatch button:active {
  background-color: #286a99;
}

.clear {
  position: fixed;
  width: 100%;
  height: 60%;
  background-color: #5ba4d7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clear p {
  animation: rotation 2s;
  font-size: min(3rem);
  white-space: nowrap;
  user-select: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    font-size: 10rem;
  }
  100% {
    transform: rotate(720deg);
    font-size: 3rem;
  }
}
 
.clear button {
  height: 10%;
  width: 10%;
  border-radius: 10px;
  background-color: white;
  color: #5ba4d7;
  border: none;
  font-size: 1rem;
}

.clear button:hover {
  background-color: rgb(227, 225, 225);
}

.clear button:active {
  background-color: rgb(168, 167, 167);
}